@mixin cart-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin border {
  border-radius: 0.6rem;
  border: 0.01rem solid #dadce0;
}

.main-cart {
  @include cart-flex-center();
  min-height: 95vh;

  .cart-area {
    width: 75vw;
    min-height: 100vh;
    margin: 5vh 0vw 0vh 0vw;

    display: flex;
    flex-direction: column;
    align-items: start;

    .cart-main {
      width: 75vw;
      @include border();
      .my-cart {
        margin: 5vh 0vw 3vh 5vw;
      }
    }
  }
}

.cart-items {
  height: 25vh;
  width: 75vw;
  margin-bottom: 2.5vh;

  display: flex;
  justify-content: start;
  align-items: center;

  .book-images {
    padding-left: 5vw;
  }
  .details {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0vh 0vw 10vh 5vh;

    .rating {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: white;
      .point {
        @include cart-flex-center();

        background-color: green;
        width: 2rem;
        height: 1.5rem;
        border-radius: 0.2rem;
        border: 0.01rem solid;
      }
      .price {
        font-weight: bold;
      }
    }
  }
  .add-quantity {
    width: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.fill,
.order-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  height: 8vh;
  margin: 5vh 0vw 5vh 0vw;
  padding-left: 2vw;
  @include border();
}
