.sort{

}
.bookBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88vw;
  padding: 5vh 0vw 0vh 5vw;
}

.books-area {
  width: 95vw;
  height: 100vh;
  // margin:0vh 20vw 0vh 0vw;
  padding: 5vh 20vw 0vh 5vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

 
}
.books {
  height: 45vh;
  width: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0vh 0vw 0vh 0vw;

  border-radius: 0.6rem;
  border: 0.01rem solid #dadce0;

  .book-images {
    padding-top: 5vh;
  }
  .details {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1vh 0vw 1.5vh 7vh;
    margin-left: -11vw;

    .rating {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: white;
      .point {
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        background-color: green;
        width: 2rem;
        height: 1.5rem;
        border-radius: 0.2rem;
        border: 0.01rem solid;
      }
      .price {
        font-weight: 700px;
      }
    }
  }
  .add-button {
    width: 80%;
    // padding: 0vh 0vw 0vh 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vh;
  }
}
