.order-area {
  width: 100%;

  .order-main {
    width: 100%;

    border-radius: 0.6rem;
    border: 0.01rem solid #dadce0;
  }

  .my-order {
    margin: 5vh 0vw 3vh 5vw;
  }
}
.order-items {
  height: 25vh;
  width: 100%;

  margin-bottom: 2.5vh;

  display: flex;
  justify-content: start;
  align-items: center;

  // border-radius: 0.6rem;
  // border: 0.01rem solid #dadce0;

  .book-images {
    padding-left: 5vw;
  }
  .details {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0vh 0vw 3vh 5vh;

    .rating {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: white;
      .point {
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        background-color: green;
        width: 2rem;
        height: 1.5rem;
        border-radius: 0.2rem;
        border: 0.01rem solid;
      }
      .price {
        font-weight: bold;
      }
    }
  }
  .add-quantity {
    width: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.fill {
  height: 8vh;
  margin: 2vh 0vw 2vh 0vw;
  padding-left: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  border-radius: 0.2rem;
  border: 0.01rem solid #dadce0;
}
